<!-- Success Alert -->
<app-success-alert
  [message]="successMessage"
  [visible]="showSuccessAlert"
  (closed)="closeAlert()"
></app-success-alert>


<!-- Main Container -->
<div class="min-h-screen bg-gray-100 p-6">
  <!-- Header Section -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold text-gray-800">Users</h2>
    <button
      class="bg-lime-400 hover:bg-lime-500 text-black px-4 py-2 rounded-lg shadow-md transition"
      (click)="openCreate()"
    >
      + Create New User
    </button>
  </div>

  <hr class="border-t border-gray-300 w-full mb-4" />

<!-------------- Filters ---------------------------------------->
  <div class="grid md:grid-cols-12 gap-6">
    
    <div class="col-span-12 md:col-span-2">
      <div class="bg-white rounded-lg shadow p-4">
        
        <div class="flex justify-between items-center mb-4">
            <!-- LEFT SIDE: icon + text -->
            <div class="flex items-center gap-2">
                <lucide-icon [img]="SlidersIcon"></lucide-icon>
                <h3 class="text-lg font-semibold text-gray-500">Filters</h3>
            </div>

            <!-- RIGHT SIDE: Clear All -->
            <button
                type="submit"
                class="text-blue-600 text-sm hover:underline"
                (click)="load()"
            >
                Clear All
            </button>
        </div>

        <hr class="border-t border-gray-300 w-full mb-4" />

        <!-- User Type Filter -->
        <div class="mb-4">
          <h6 class="text-gray-500 text-sm">User Type</h6>
          <label>
            <input
              type="radio"
              name="roleFilter"
              value="INTERNAL"
              (change)="onTypeChange('INTERNAL')"
              [checked]="selectedType === 'INTERNAL'"
            />
            Internal Users
          </label>
          <br />
          <label>
            <input
              type="radio"
              name="roleFilter"
              value="CUSTOMER"
              (change)="onTypeChange('CUSTOMER')"
              [checked]="selectedType === 'CUSTOMER'"
            />
            Customers
          </label>
        </div>

        <hr class="border-t border-gray-300 w-full mb-4" />

        <!-- User Search Filter -->
        <div class="relative mb-4" #userFilterRoot>
          <label class="block text-sm font-medium text-gray-700 mb-1">User Details</label>
          <div class="relative">
                <input
                type="text"
                [(ngModel)]="searchUser"
                (focus)="UserDropdown(true)"
                class="w-full border rounded-md p-2 pr-10 focus:outline-none focus:ring-1 focus:ring-blue-500"
                placeholder="Search Users"
                />

                <!-- Lucide search icon -->
                <lucide-icon
                [img]="SearchIcon"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
                size="18"
                ></lucide-icon>
            </div>
          <!-- Selected Names Display -->
            <div class="flex flex-wrap gap-2 mt-2">
              <span
                *ngFor="let name of selectedNames"
                class="bg-gray-200 text-gray-800 text-sm px-3 py-1 rounded-full flex items-center gap-1"
              >
                {{ name }}
                <button
                  type="button"
                  class="text-gray-500 hover:text-red-500 focus:outline-none"
                  (click)="removeName(name)"
                >
                  <i class="bi bi-x-circle"></i>
                </button>
              </span>
            </div>


          <!-- Dropdown -->
          <div
            *ngIf="userdropdownOpen"
            class="absolute mt-1 w-full bg-white border rounded shadow z-20 flex flex-col"
          >
            <!-- Scrollable list -->
            <div class="max-h-60 overflow-auto">
              <div
                *ngFor="let user of filteredUsers()"
                class="flex items-center p-2 hover:bg-gray-100"
              >
                <input
                  type="checkbox"
                  [value]="user.firstName"
                  [(ngModel)]="user.selected"
                  [checked]="selectedNames.includes(user.firstName)"
                  (change)="onUserToggle(user.firstName!, $event)"
                  class="mr-2"
                />
                <span>{{ user.firstName }}</span>
              </div>

              <div *ngIf="filteredUsers().length === 0" class="p-2 text-gray-500">
                No users found
              </div>
            </div>

            <!-- done button -->
            <div class="sticky bottom-0 bg-white border-t flex justify-end p-2">
              <button
                class="bg-blue-500 text-white px-4 py-1 rounded-md hover:bg-blue-600"
                (click)="UserDropClose()"
              >
                DONE
              </button>
            </div>
          </div>
        </div>

        <hr class="border-t border-gray-300 w-full mb-4" />

        <!-- Role Search Filter  -->
        <div class="relative" #roleFilterRoot>
          <label class="block text-sm font-medium text-gray-700 mb-1">Roles</label>
          <div class="relative" #roleFilterRoot>

             <div class="relative">
                <input
                type="text"
                [(ngModel)]="searchRole"
                (focus)="roleDropDown(true)"
                class="w-full border rounded-md p-2 pr-10 focus:outline-none focus:ring-1 focus:ring-blue-500"
                placeholder="Search Roles"
                />

                <!-- Lucide search icon -->
                 <lucide-icon
                 [img]="SearchIcon"
                 class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
                size="18"
                 ></lucide-icon>
             </div>
          </div>

           <!-- Selected Roles Display -->
            <div class="flex flex-wrap gap-2 mt-2">
              <span
                *ngFor="let role of selectedRoles"
                class="bg-gray-200 text-gray-800 text-sm px-3 py-1 rounded-full flex items-center gap-1"
              >
                {{ role }}
                <button
                  type="button"
                  class="text-gray-500 hover:text-red-500 focus:outline-none"
                  (click)="removeRole(role)"
                >
                  <i class="bi bi-x-circle"></i>
                </button>
              </span>
            </div>


          <!-- Dropdown -->
          <div
            *ngIf="roledropdownOpen"
            class="absolute mt-1 w-full bg-white border rounded shadow z-20 flex flex-col"
          >
            <!-- Scrollable list -->
            <div class="max-h-60 overflow-auto">
              <div
                *ngFor="let user of filterRoles()"
                class="flex items-center p-2 hover:bg-gray-100"
              >
                <input
                  type="checkbox"
                  [checked]="selectedRoles.includes(user.role ?? '')"
                  [(ngModel)]="user.selected"
                  (change)="onRoleToggle(user.role!, $event)"
                  class="mr-2"
                />
                <span>{{ user.role }}</span>
              </div>

              <div *ngIf="filterRoles().length === 0" class="p-2 text-gray-500">
                No roles found
              </div>
            </div>

            <!-- done button -->
            <div class="sticky bottom-0 bg-white border-t flex justify-end p-2">
              <button
                class="bg-blue-500 text-white px-4 py-1 rounded-md hover:bg-blue-600"
                (click)="RoleDropClose()"
              >
                DONE
              </button>
            </div>
          </div>
        </div>

        <hr class="border-t border-gray-300 w-full mt-4" />
        <!-- User status filter -->
        <div class="mb-4">
          <h6 class="text-gray-500 text-sm">Status</h6>
          <label>
            <input
              type="radio"
              name="statusFilter"
              value="true"
              (change)="onStatusChange(true)"
              [checked]="selectedStatus ===true"
            />
            Active
          </label>
          <br />
          <label>
            <input
              type="radio"
              name="statusFilter"
              value="false"
              (change)="onStatusChange(false)"
              [checked]="selectedStatus === false"
            />
            InActive
          </label>
        </div>

      </div>
    </div>

<!---------- Users Table ---------------->

    <div class="md:col-span-10">
      <div class="mb-2 text-gray-600 font-medium">
        {{ getCount() }} users found
      </div>
       <!-- Table -->
        <div class="bg-white rounded-lg shadow overflow-hidden">
            <p-table
            [value]="paginatedUsers"
            sortMode="multiple"
            [tableStyle]="{ 'min-width': '60rem' }"
            class="w-full"
            >
                <!-- HEADER -->
                <ng-template pTemplate="header">
                    <tr class="bg-gray-100 text-black text-sm">
                    <th pSortableColumn="firstName" class="py-3 px-4 text-left font-medium">
                        <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="firstName"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="email" class="py-3 px-4 text-left font-medium">
                        <div class="flex items-center gap-2">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="role" class="py-3 px-4 text-left font-medium">
                        <div class="flex items-center gap-2">
                        Role
                        <p-sortIcon field="role"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="createdAt" class="py-3 px-4 text-left font-medium">
                        <div class="flex items-center gap-2">
                        Created On
                        <p-sortIcon field="createdAt"></p-sortIcon>
                        </div>
                    </th>

                    <th class="py-3 px-4 text-left font-medium">Status</th>

                    <th class="py-3 px-4 text-center font-medium">Actions</th>
                    </tr>
                </ng-template>

                <!-- BODY -->
                <ng-template pTemplate="body" let-u>
                    <tr class="border-b hover:bg-gray-50 transition text-gray-700 text-sm">
                    <td class="py-3 px-4">{{ u.firstName }} {{ u.lastName }}</td>

                    <td class="py-3 px-4">{{ u.email }}</td>

                    <td class="py-3 px-4">{{ u.role }}</td>

                    <td class="py-3 px-4">{{ u.createdAt | date: 'medium' }}</td>

                    <td class="py-3 px-4">
                        <span
                        [ngClass]="{
                            'text-green-600 font-semibold': u.userStatus,
                            'text-red-600 font-semibold': !u.userStatus
                        }"
                        >
                        {{ u.userStatus ? 'Active' : 'Deactive' }}
                        </span>
                    </td>

                    <td class="py-3 px-4 flex justify-center gap-3">
                        <button class="text-gray-600 hover:text-blue-500 transition"
                                (click)="openEdit(u)">
                        <i class="bi bi-pencil"></i>
                        </button>

                        <button class="text-gray-600 hover:text-green-500 transition"
                                (click)="openView(u)">
                        <i class="bi bi-eye"></i>
                        </button>

                        <button class="text-gray-600 hover:text-red-500 transition"
                                (click)="openDeleteModal(u)">
                        <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    </tr>
                </ng-template>
                </p-table>
            
            </div>

            <!-- Pagination -->
<div class="flex justify-between items-center px-4 py-3 bg-white border-t">
    
  <!-- Showing info -->
  <div class="text-gray-600 text-sm">
    Showing
    {{ (currentPage - 1) * pageSize + 1 }}
    –
    {{ Math.min(currentPage * pageSize, users.length) }}
    of {{ users.length }} entries
  </div>

  <!-- Prev / Next buttons -->
  <div class="flex items-center gap-2">
    <!-- Prev -->
    <button
      class="px-3 py-1 border rounded-md text-sm"
      [disabled]="currentPage === 1"
      (click)="prevPage()"
    >
      Previous
    </button>

    <!-- Page Numbers -->
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <button
        class="px-3 py-1 border rounded-md text-sm"
        [ngClass]="{ 'bg-blue-500 text-white': currentPage === i + 1 }"
        (click)="goToPage(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </ng-container>

    <!-- Next -->
    <button
      class="px-3 py-1 border rounded-md text-sm"
      [disabled]="currentPage === totalPages"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>


    </div>
  </div>

<!--Delete Confirmation Modal -->
  
 <app-delete-confirm
    [show]="showDeleteModal"
    (confirm)="confirmDelete()"
    (cancel)="cancelDelete()"
></app-delete-confirm>


  <!--User Modal -->
  <app-user-modal
    *ngIf="showModal"
    [mode]="modalMode"
    [user]="selectedUser"
    (close)="onModalClose($event)"
  ></app-user-modal>
</div>
