/* Make PrimeNG Table Light Theme */
.p-datatable {
  background: white !important;
  color: black !important;
}

.p-datatable-thead > tr > th {
  background: #f5f5f5 !important;
  color: #000 !important;
}

.p-datatable-tbody > tr {
  background: white !important;
  color: black !important;
}

.p-datatable-tbody > tr:hover {
  background: #f0f0f0 !important;
}

.p-sortable-column .p-sortable-column-icon {
  color: #333 !important;
}

